/* reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* fonte base */
html {
  font-size: 62.5%;
}

/* estilo da página */
body {
  background-color: #1a1b18;
  color: #d1d1c1;
  font-family: Arial, sans-serif;
}
